.logo {
    height: 48px;
    width: 48px;
    margin-right: 20px;
}

.info .icon i.icon-atom {
    color: rgb(0,216,255);
}

.info .icon img {
    width: 56px;
    height: 56px;
    &.aws {
        width: 70px;
    }

    &.bg-blog {
        color: rgb(138,197,2);
    }
}

.ml-auto #getsy-pic {
    width: 1000px;
    height: auto;
}