.logo {
    height: 48px;
    width: 48px;
    margin-right: 20px;
}

.info .icon i.icon-atom {
    color: rgb(0,216,255);
}

.info .icon img {
    width: 56px;
    height: 56px;
    &.aws {
        width: 70px;
    }

    &.bg-blog {
        color: rgb(138,197,2);
    }
}

.ml-auto #getsy-pic {
    width: 1000px;
    height: auto;
}

#icons {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
    fill: #f4f5f7;
    svg {
        height: 80px;
        padding: 10px;
        margin: 10px;
    }
    margin-bottom: 400px;
}

.card-pricing img {
    height: 200px;
    width: 100%;
}

button.github-button {
    margin-left: 30px;
}

.flex {
    display: flex;
    flex-direction: column;

}

#linkedin {
    margin-left: 20px;
    width: 36px;
    height: 36px;
}

.fa-github {
    color: #f4f5f7;
}